<div class="w-full h-full bg-pink-500 p-6">
  <p>Carrito de compras</p>
  <div class="w-full h-full relative bg-pink-300">
    <div class="h-[150px] w-full flex bg-pink-200 p-4 rounded-2xl shadow-sm">
      <img
        src="https://i.pinimg.com/736x/e6/88/27/e68827d29e5dea1f8b222f15ccb58adf.jpg"
        alt="imagen"
        class="object-cover h-full w-[100px]"
      />
      <div class="p-4">
        <p>titulo</p>
        <p>$0.00</p>
      </div>
      <div class="absolute right-4">
        <span>-</span>
        <input type="text" class="bg-white rounded-2xl w-[50px]" />
        <span>+</span>
      </div>
    </div>
  </div>
</div>
