<div
  class="h-[120px] w-full flex items-center p-2 gap-2 border-b place-content-between border-gray-200 absolute"
>
  <div class="min-w-[100px] w-[100px] h-full overflow-hidden">
    <img
      src="https://i.pinimg.com/736x/e6/88/27/e68827d29e5dea1f8b222f15ccb58adf.jpg"
      alt="imagen"
      class="w-full h-full object-cover"
    />
  </div>

  <p
    class="h-auto w-autofont-light text-sm max-h-[60px] text-start overflow-hidden"
  >
    Nombre del producto lalallal ala lalalalla lalalalal
  </p>
  <p class="w-[120px] text-start">$00.000</p>

  <select name="count" id="" class="border mr-2 lg:mr-6 border-gray-300">
    <option value="0">0</option>
    <option value="1" selected>1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>

  <span class="absolute top-1 right-2 text-xs">X</span>
</div>
