<div
  class="cart-item h-[150px] w-full p-4 flex items-center gap-2 border-b border-gray-200 place-content-between bg-white relative"
>
  <div class="min-w-[100px] w-[100px] h-full overflow-hidden">
    <img
      src="https://i.pinimg.com/736x/e6/88/27/e68827d29e5dea1f8b222f15ccb58adf.jpg"
      alt="imagen"
      class="product-image w-full h-full object-cover"
    />
  </div>

  <p
    class="product-name h-auto text-left w-auto min-w-[120px] font-light text-sm overflow-hidden"
  >
    Producto
  </p>
  <p class="product-price w-[120px] text-start">$00.00</p>

  <div>
    <input
      type="text"
      class="quantity w-[30px] h-[30px] py-1 text-center border-2 border-gray-200 rounded-sm text-gray-600 text-sm"
    />
  </div>

  <span class="absolute top-1 right-2 text-xs">X</span>
</div>
