<section
  class="product-card grid grid-rows-[300px_auto_30px] w-auto min-w-[140px] h-auto mx-2 p-4 relative cursor-pointer hover:shadow-lg snap-start bg-white border-2 border-gray-200/20 group"
>
  <img
    src=""
    alt=""
    class="product-image rounded-sm w-auto max-h-[100%] px-[10px] place-self-center object-cover"
  />

  <h3 class="product-name h-fit text-[12px] font-light"></h3>
  <p class="product-price text-[14px] py-2 font-medium"></p>
  <button
    class="add--item--btn hidden w-fit px-4 py-0.5 absolute top-0 right-0 group-hover:block cursor-pointer hover:bg-black/10 transition-[background] duration-300 ease-in"
  >
    Agregar
  </button>
</section>
