<section
  class="product-card grid grid-rows-[300px_auto_30px] w-auto min-w-[140px] h-auto mx-2 p-4 rounded-sm relative cursor-pointer hover:shadow-lg snap-start"
>
  <img
    src=""
    alt=""
    class="product-image rounded-sm w-auto max-h-[100%] px-[10px] place-self-center object-cover"
  />

  <h3 class="product-name h-fit text-[14px] font-medium"></h3>
  <p class="product-price text-[14px] text-gray-800 pb-2"></p>
  <button
    class="w-fit hidden px-4 py-0.5 hover:bg-amber-400 absolute top-0 right-0"
  ></button>
</section>
