<nav
  id="navbar"
  class="w-full h-14 relative px-2 grid items-center grid-cols-[32px_auto_auto] border-b-1 z-50 transition-[height] duration-500 ease-in-out lg:grid-cols-3 lg:grid-rows-1"
>
  <img
    src="/src/assets/icons/bars.svg"
    alt="menu"
    id="icon-menu"
    class="lg:hidden"
  />
  <ul
    class="menu-plegable hidden w-full h-auto absolute top-14 px-4 bg-black/40 text-start text-white order-3 lg:w-full lg:h-full lg:flex lg:flex-row lg:gap-6 lg:order-1 lg:col-span-1 lg:bg-transparent lg:static lg:top-0"
    id="nav--links"
  >
    <li
      class="dinamic-color h-[44px] border-b border-black/40 cursor-pointer rounded-[4px] lg:min-h-auto lg:h-full lg:border-none hover:bg-black/10 hover:shadow-s"
    >
      <a
        href="/index.html"
        class="p-[10px] float-left lg:h-full lg:p-0 lg:content-center"
        >Home</a
      >
    </li>
    <li
      class="dinamic-color contain-menu h-auto relative border-b border-black/40 cursor-pointer rounded-[4px] lg:min-h-auto lg:h-full lg:border-none hover:bg-black/10 hover:shadow-s group"
    >
      <p class="p-[10px] lg:h-full lg:p-0 lg:content-center">Categorias</p>

      <ul
        class="menu hidden grid-cols-1 justify-items-start bg-transparent text-white p-4 lg:w-[160px] lg:h-[200px] lg:group-hover:grid lg:absolute lg:top-14 lg:bg-black/50"
      >
        <li class="w-full hover:font-mono active:bg-black/20">
          <a href="/src/pages/new.html">Camisas</a>
        </li>
        <li class="w-full hover:font-mono active:bg-black/20">
          <a href="/src/pages/new.html">Abrigos</a>
        </li>
        <li class="w-full hover:font-mono active:bg-black/20">
          <a href="/src/pages/new.html">Pantalones</a>
        </li>
        <li class="w-full hover:font-mono active:bg-black/20">
          <a href="/src/pages/new.html">Accesorios</a>
        </li>
        <li class="w-full hover:font-mono active:bg-black/20">
          <a href="/src/pages/new.html">Tecnologia</a>
        </li>
      </ul>
    </li>
    <li
      class="dinamic-color contain-menu h-auto relative border-b border-black/40 cursor-pointer rounded-[4px] lg:min-h-auto lg:h-full lg:border-none hover:bg-black/10 hover:shadow-s group"
    >
      <p class="p-[10px] lg:h-full lg:p-0 lg:content-center">lo nuevo</p>
      <ul
        class="menu hidden grid-cols-1 bg-transparent text-white p-4 lg:w-[160px] lg:h-[200px] lg:group-hover:grid lg:absolute lg:top-14 lg:bg-black/50"
      >
        <li
          class="w-full hover:font-mono active:bg-black/20 lg:justify-self-start"
        >
          <a href="#" class="">Parte superior</a>
        </li>
        <li class="w-full hover:font-mono active:bg-black/20">
          <a href="#">Parte inferior</a>
        </li>
        <li class="w-full hover:font-mono active:bg-black/20">
          <a href="#">Accesorios</a>
        </li>
        <li class="w-full hover:font-mono active:bg-black/20">
          <a href="#">Tecnologia</a>
        </li>
      </ul>
    </li>
  </ul>

  <p
    class="dinamic-color font-light tracking-[5px] order-1 border-black text-center text-white self-center text-2xl lg:px-10 lg:col-span-1 lg:border-x-2"
  >
    <a href="/index.html"> LOGOTIENDA</a>
  </p>

  <ul
    class="w-[50%] h-full text-center flex gap-2 justify-self-end order-3 lg:w-fit lg:gap-6"
    id="user--links"
  >
    <li
      class="w-60px h-full flex items-center justify-center cursor-pointer group"
    >
      <svg
        id="user-icon"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="dinamic-color size-6 text-white"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
        />
      </svg>

      <ul
        class="menu w-[200px] h-[100px] p-4 hidden absolute top-14 text-black group-hover:grid bg-black/50"
      >
        <li class="mb-2">
          <button
            class="w-full h-[30px] border border-gray-100 text-gray-100 cursor-pointer"
          >
            Iniciar sesion
          </button>
        </li>
        <li>
          <button
            href=""
            class="w-full h-[30px] bg-black text-white cursor-pointer"
          >
            crear cuenta
          </button>
        </li>
      </ul>
    </li>

    <li>
      <div
        id="cart--overlay"
        class="cart--close hidden w-[100vw] h-[100vh] absolute top-[0] right-0 bg-black/60"
      >
        <article
          class="w-[100%] h-[90vh] mt-[10vh] grid grid-rows-[60%_40%] relative rounded-t-2xl pt-4 bg-white z-50 md:grid-rows-[70%_30%] lg:w-[50%] lg:h-[100vh] lg:pt-0 lg:grid-rows-[auto_20%] lg:mt-0 lg:rounded-none lg:float-right lg:max-w-[800px]"
        >
          <span
            class="cart--close absolute w-[30px] h-[30px] top-2 right-2 bg-[url('/src/assets/icons/close.svg')] bg-no-repeat bg-center bg-cover cursor-pointer z-1 lg:right-3.5"
          >
          </span>
          <section
            id="nav--cart"
            class="w-full h-auto overflow-y-auto"
          ></section>
          <section
            class="w-full h-full bg-white p-3 lg:p-6 grid grid-cols-2 gap-4"
          >
            <button class="w-full h-[50px] border border-purple-900">
              <a href="/src/pages/cart.html"> Revisar productos</a>
            </button>
            <button class="w-full h-[50px] bg-purple-900">Ir a pagar</button>
          </section>
        </article>
      </div>
    </li>
    <li class="w-[60px] h-full flex items-center justify-center cursor-pointer">
      <a id="cart--icon"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="dinamic-color size-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
          />
        </svg>
      </a>
    </li>
  </ul>
</nav>
