<div class="h-[auto] py-6 w-full mt-10">
  <div
    class="h-[30vh] text-[10px] md:p-30 grid grid-cols-2 md:grid-cols-4 grid-rows-2 md:grid-rows-1 justify-items-center"
  >
    <div>
      <span>LOGOTIENDA</span>
      <p>breve descripcion</p>
    </div>
    <div>
      <p>Contacto</p>
      <p>contacto@tienda.com</p>
      <p>Tel: +123456789</p>
    </div>
    <div>
      <p>Informacion</p>
      <p>Términos y condiciones</p>
      <p>Política de privacidad</p>
    </div>
    <div>
      <p>Ayuda</p>
      <p>servicio al cliente</p>
      <p>Despachos</p>
    </div>
  </div>

  <div
    class="w-[100px] h-[40px] grid grid-cols-3 content-center gap-2 m-[80px_auto_auto_auto]"
  >
    <span
      class="w-full h-[20px] bg-[url('/src/assets/icons/facebook.png')] bg-no-repeat bg-center bg-contain"
    ></span>
    <span
      class="w-full h-[20px] bg-[url('/src/assets/icons/instagram.png')] bg-no-repeat bg-center bg-contain"
    ></span>
    <span
      class="w-full h-[20px] bg-[url('/src/assets/icons/youtube.png')] bg-no-repeat bg-center bg-contain"
    ></span>
  </div>
  <p class="text-center text-[10px] mt-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
