<div class="h-[80vh] w-full mt-20 bg-blue-100">
  <div class="h-[30vh] p-30 grid grid-cols-4">
    <div>
      <span>LOGOTIENDA</span>
      <p>breve descripcion</p>
    </div>
    <div>
      <p>Contacto</p>
      <p>contacto@tienda.com</p>
      <p>Tel: +123456789</p>
    </div>
    <div>
      <p>Informacion</p>
      <p>Términos y condiciones</p>
      <p>Política de privacidad</p>
    </div>
    <div>
      <p>Ayuda</p>
      <p>servicio al cliente</p>
      <p>Despachos</p>
    </div>
  </div>

  <div
    class="w-[300px] grid grid-cols-3 content-center gap-6 m-auto bg-pink-100 h-[60px]"
  >
    <span>1</span>
    <span>2</span>
    <span>3</span>
  </div>
  <p class="text-center text-[10px] mt-10">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
  </p>
</div>
