<div
  class="max-w-[1500px] m-[40px_auto] grid grid-rows-[auto] grid-cols-[auto_1fr_1fr_auto] items-center"
>
  <h2
    class="py-4 mt-10 text-3xl font-light tracking-[3px] col-start-2 col-end-3"
  >
    NOVEDADES
  </h2>
  <a
    href="#"
    class="py-4 col-span-2 col-start-3 col-end-4 text-end font-light w-fit cursor-pointer place-self-end hover:text-purple-700"
  ></a>

  <span
    id="carousel--back"
    class="w-[30px] h-[30px] bg-[url('./assets/icons/back.svg')] bg-no-repeat bg-center bg-contain cursor-pointer col-start-1 col-end-2"
  ></span>

  <div
    class="carousel--cards flex w-full overflow-hidden scroll-smooth pb-4 col-span-2 snap-x snap-mandatory"
  >
    <!-- aca va a ir las cards :)  -->
  </div>

  <span
    id="carousel--next"
    class="w-[30px] h-[30px] bg-[url('./assets/icons/forward.svg')] bg-no-repeat bg-center bg-contain cursor-pointer col-start-4 col-end-5"
  ></span>
</div>
